<template>
  <div
    id="my-strictly-unique-vue-multiple-image-clipping"
    style="display: flex; justify-content: center;"
  >
    <vue-multiple-image-clipping
      @upload-success="uploadImageSuccess"
      @before-remove="beforeRemove"
      @edit-image="editImage"
      @data-change="dataChange"
      @limit-exceeded="limitExceeded"
      @limit-dimensions="limitDimensions"
      @limit-size="limitSize"
      :maxImage="8"
      :maxHeightImage="500"
      :maxWidthImage="500"
      :maxSizeImage="1000000"
    ></vue-multiple-image-clipping>
  </div>
</template>

<script>
import VueMultipleImageClipping from "./components/VueMultipleImageClipping";
import axios from "axios";
export default {
  name: "app",
  data() {
    return {};
  },
  components: {
    VueMultipleImageClipping
  },
  methods: {
    uploadImageSuccess(formData, index, fileList) {
      console.log("data", formData, index, fileList);
      // Upload image api
      // axios.post('http://gostore.gostore-api.test/api/items/upload', formData).then(response => {
      //   console.log(response)
      // })
    },
    beforeRemove(index, done, fileList) {
      console.log("index", index, fileList);
      var r = confirm("remove image");
      if (r == true) {
        done();
      } else {
      }
    },
    editImage(formData, index, fileList) {
      console.log("edit data", formData, index, fileList);
    },
    dataChange(data) {
      console.log(data);
    },
    limitExceeded(amount) {
      console.log(amount);
    },
    limitDimensions(fileName, height, width, maxHeightImage, maxWidthImage) {
      console.log(
        fileName,
        height,
        width,
        maxHeightImage,
        maxWidthImage,
        "limitDimensions"
      );
    },
    limitSize(fileName, sizeImage, maxSizeImage) {
      console.log(fileName, sizeImage, maxSizeImage, "limitSize");
    }
  }
};
</script>
